* {
    margin: 0;
    padding: 0;
  }

  .App {
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
  }
  
  .App .navbar {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background-color:#2dba4e;
  }
  
  .App .navbar .nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  
  .App .logo>a{
    color:#fff;
    text-decoration: none;
  }
  /* .border-top {
    /* border-top: 1px solid black; */
    margin-top: 10px;
  } */
  .App .top-links>a {
    text-decoration: none;
    color: black;
    font-size: larger;
    /* border: 1px, solid, black; */
  }
  .App .navbar .nav-links>a{
    color: #fff;
    text-decoration: none;
  }
  
  input {
    border: none;
    text-align: center;
    font-weight: bolder;
    min-width: 25%;
  }
  button {
    text-align: center;
    color: #fff;
    background-color:#2dba4e;
    border: solid, 1px, #fff;
    padding: 30px 60px;
    margin: 50px 0px;
  }

  .list-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }